.welcome {
    text-align: center;
    padding: 10px;
    /*margin-top: 5%;*/
    font-size: 26px;
}
h1 {
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 50px;
    padding-top: 65px;
}
.headerTitle{
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    font-size: 65px;
}
.name {
    font-size: 32px;
    text-align: center;
}

.title {
    font-family: 'Fredericka the Great', cursive;
    font-size: 42px;
    /*text-align: center;*/
    padding: 20px;
    margin-top: -1px;
}
header{
    height: auto;
}
.headerimg {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 650px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    line-height: 1.6;
}
a:hover{
    color: #ebafc6;
    font-size: 22px;
}
.w3-row-padding{
    width: 80%;
    /*border: 2px solid black;*/
    margin: 0 auto;
}
.w3-third .title{
    text-align: left;
    /*border: 2px solid black;*/
}
hr{
    width:80%;
    margin: 0 auto;
    /*padding: 20px;*/
}
/*.lab,.homework, .examples, .practise {*/
/*    width: 50%;*/
/*    height: 50%;*/
    /*border: solid 1px red;*/
/*}*/
/*#row1, #row2 {*/
/*    display: flex;*/
/*    margin: auto;*/
/*    width: 50%;*/
/*}*/