 main,
        header,
        section.content,
        section.left,
        search,
        aside,
        article,
        footer {
            /*display: inline;*/
            padding: 3px;
            margin: 3px;
            border: 1px solid black;
        }

        section.left {
            border: 2px solid red;
        }

        button {
            background-color: yellow;
            padding: 3px;
        }

        button img {
            height: 20px;
            width: 20;
        }

        section.content {
            display: flex;
        }

        aside {
            min-width: 20%;
        }

        header {
            display: flex;
            justify-content: center;
        }
        
        header img {
            height: 100px;
        }

        section.left {
            position: relative;
        }

        button.help {
            position: absolute;
            bottom: 50px;
            right: 50px;
        }