main, aside, section, article, search, header, footer, .content {
    /*border: 1px solid red;*/
}
footer, section, article{
    /*border: 2px solid red;*/
    padding: 4px;
}
.supportImg{
    height:150px;
    width:60%;
    display:block;
    margin:auto;
}
.search{
    width:20px;
    height: 10px;
}
form{
    padding: 14px;
}
section{
    /*position: relative;*/
}
.helpbtn{
    width: 20px;
    height: 20px;
    position: sticky;
    top: 0;
}
.container{
    padding-right: 200px;
    position: relative;
    /*overflow:hidden;*/
}


