* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column{
    float: left;
    width: 50%;
    padding: 10px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    border-radius: 2px;
}

.content {
    background-color: #ecf2d8;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 60px;
}

input[type="text"],
input[type="password"] {
    background: transparent;
    border: none;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.btn {
    background-color: #cde7f0;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}

label, h1, legend{
    color: black;
}
.update{
    margin-top:10px;
}
.images{
    margin-top:12%;
    width:550px;
}
fieldset{
    background-color: white;
    margin-top: 15%;
}
.titletext{
    margin-left: 35px;
    font-size: 52px;
}
.undertext{
    font-size: 32px;
    margin-left: 35px;
}
legend{
    font-weight: bold;
}
label{
    font-weight: bolder;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

@media screen and (max-width: 900px) {
    .images{
        width:auto;
    }
}
@media screen and (max-width: 730px) {
    .images{
        width:300px;
    }
    .titletext{
        font-size: 40px;
    }
    .content{
        margin: 0;
    }
    .row{
        width: 100%;
    }
}